################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################



/.vs/LunguaLink
/LunguaLink/obj
/.vs/ProjectEvaluation
/Langua.DataContext/obj/Debug/net8.0
/Langua.Models/obj
/Lungua.Shared/obj
/Langua.DataContext/bin/Debug/net8.0
/Langua.Models/bin/Debug/net8.0
/Langua.WebUI/bin/Debug/net8.0
/Langua.WebUI/obj
/Langua.WebUI/Properties
/Lungua.Shared/bin/Debug/net8.0
/Lungua.WebUI/bin/Debug/net8.0
/Lungua.WebUI/obj/Debug/net8.0/ref
/Lungua.WebUI/obj/Debug/net8.0/refint
/Lungua.WebUI/obj
/Langua.Shared/bin/Debug/net8.0
/Langua.Shared/obj
/Langua.DataContext/obj
/Langua.Core/obj
/Langua.Core/bin/Debug/net8.0
/Langua.Repositories/obj
/Langua.Repositories/bin/Debug/net8.0
/Langua.WebUI/wwwroot/bootstrap
/Auth/bin
/Auth/obj
/Auth/obj/Debug/net8.0/Langua.Auth.AssemblyInfoInputs.cache
/Langua.ModelView/obj/Debug/net8.0
/Langua.ModelView/obj
/Langua.ModelView/bin/Debug/net8.0
/Langua.Api/bin/Debug/net8.0
/Langua.Api/obj
/Langua.ReComponents
/Langua.Components/Langua.Components/obj
/Langua.UIComponenets/obj
/Langua.UIComponents/bin/Debug/net8.0
/Langua.UIComponents/obj
/Langua.WebUI/appsettings.json
/Langua.DAL/bin/Debug/net8.0
/Langua.DAL/bin/Debug/net8.0
/Langua.DAL/obj
/BlazorApp2/*
/BlazorApp2/BlazorApp2/obj/Debug/net8.0/BlazorApp2.AssemblyInfo.cs
/Langua.Auth/obj
/Langua.Auth
/Langua.Web/Langua.Web/bin/Debug/net8.0
/Langua.Web/Langua.Web/obj
/Langua.Web/Langua.Web/Properties

/Langua.Web/Langua.Web/_Data__

/Langua.Web/Langua.Web.Client/bin/Debug/net8.0

/Langua.Web/Langua.Web.Client/obj/Debug/net8.0
=======

/Langua.Web/Langua.Web.Client/obj
/Langua.DataContext/bin/Release/net8.0
/Langua.Models/bin/Release/net8.0
/Langua.ModelView/bin/Release/net8.0
/Langua.Repositories/bin/Release/net8.0
/Langua.Shared/bin/Release/net8.0
/Langua.UIComponents/bin/Release/net8.0
/Langua.WebUI/bin/Release/net8.0
