################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################



/.vs/LunguaLink
/LunguaLink/obj
/.vs/ProjectEvaluation
/Langua.DataContext/obj/Debug/net8.0
/Langua.Models/obj
/Lungua.Shared/obj
/Langua.DataContext/bin/Debug/net8.0
/Langua.Models/bin/Debug/net8.0
/Langua.WebUI/bin/Debug/net8.0
/Langua.WebUI/obj
/Langua.WebUI/Properties
/Lungua.Shared/bin/Debug/net8.0
/Lungua.WebUI/bin/Debug/net8.0
