@page "/roles"

@inherits RolesComponenet
@layout WebUI.Pages.Layout.SideMainLayout

<h1>Hello roles</h1>

<div class="flex-row-reverse">
    @* <button @onclick="()"></button> *@
</div>

@code{
    
}