@inherits LayoutComponentBase
@using Langua.Repositories.Services
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 text-white">
            <AuthorizeView>
            <Authorized>
                <NavLink class="nav-link  text-white" href="Account/Manage">
                    <RadzenIcon Icon="profile" />
                    <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span>Hi @(context.User.Identity?.Name?.Substring(0, (int)context.User.Identity?.Name.IndexOf("@"))));
                </NavLink> 
                <div class="rz-p-12 rz-text-align-center" style="">
                    <RadzenProfileMenu >
                        <Template>
                            <RadzenGravatar Email="@context.User.Identity?.Name"></RadzenGravatar>
                        </Template>
                        <ChildContent>
                                <RadzenProfileMenuItem Text="Logout" Path="/Auth/Logout" Icon="lougout"></RadzenProfileMenuItem>
                            <RadzenProfileMenuItem Text="Dialog" Path="dialog" Icon="perm_media"></RadzenProfileMenuItem>
                            <RadzenProfileMenuItem Text="Notification" Path="notification" Icon="announcement"></RadzenProfileMenuItem>
                        </ChildContent>
                    </RadzenProfileMenu>
                </div>
            </Authorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
