@inherits LayoutComponentBase
@using Langua.Repositories.Services

<RadzenDialog />
<RadzenNotification />
<RadzenContextMenu />
<RadzenTooltip />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 text-white">
            <AuthorizeView>
                <Authorized>
                    <NavLink class="nav-link " href="Account/Manage" style="color:rebeccapurple;">
                        <RadzenIcon Icon="profile" />
                        <span class="bi bi-person-fill-nav-menu text-bold" aria-hidden="true"></span>Hi @( context.User.Identity?.Name?.Substring(0, (int)context.User.Identity?.Name.IndexOf("@")))
                    </NavLink> 
                    <div class="rz-p-2 rz-text-align-center" style="">
                        <RadzenProfileMenu Style="background-color: Transparent; border:none;">
                            <Template>
                                <RadzenGravatar Email="@context.User.Identity?.Name"></RadzenGravatar>
                            </Template>
                            <ChildContent>
                                <form action="api/Auth/Logout" method="post">
                                    <AntiforgeryToken />
                                    <button type="submit" class="nav-link mx-auto" style="background-color: Transparent; border:none; ">
                                        <RadzenProfileMenuItem Icon="logout" class="mx-auto" Text="Logout" Style="width:100;">
                                        </RadzenProfileMenuItem>
                                    </button>
                                </form>
                            </ChildContent>
                        </RadzenProfileMenu>
                    </div>
                </Authorized>
            </AuthorizeView>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
