@inherits BasePage
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="Langua.WebUI.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    @* <link rel="stylesheet" href="_content/Radzen.Blazor/css/material-base.css"> *@
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/standard-base.css">
    <HeadOutlet @rendermode="RenderModeForPage" />
    @* <link rel="stylesheet" href="~/app.css" /> *@
    <title>LanguaLink </title>
    <style>
        :root {
            --bs-primary-rgb: 128,0,128;
            --rz-primary : purple;
        }
    </style>
</head>

<body>

    <Langua.WebUI.Pages.Routes @rendermode="RenderModeForPage" />
    <RadzenDialog @rendermode="@RenderMode.InteractiveServer" />
    <RadzenProgressBarCircular  Mode="ProgressBarMode.Indeterminate" ShowValue="false" class="mx-auto d-none" ProgressBarStyle="ProgressBarStyle.Primary" Size="ProgressBarCircularSize.Large" id="loading" Visible="IsStuck" @ref="loading" Style="width:100%; height:100px;" />
    <script src="_framework/blazor.web.js"></script>
    <script>
        
    </script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
    <script type="text/javascript">
        var i = 0;
        window.loadResourceCallback = (total, name, response) => {
            if (name.endsWith('.dll')) {
                i++;
                const value = parseInt((i * 100.0) / total);
                const pct = value + '%';
                document.getElementById("loading").classList.remove("d-none");
                document.getElementById("loading").classList.add("d-block");
            }
        }
    </script>
    <script>
        function loading(){
            document.getElementById("loading").classList.remove("d-none");
            document.getElementById("loading").classList.add("d-block");
        }
    </script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
</body>

</html>

@code{
    [CascadingParameter]
    private HttpContext HttpContext {get;set;} = default;
    private IComponentRenderMode? RenderModeForPage => (HttpContext.Request.Path.StartsWithSegments("/Account") || HttpContext.Request.Path.StartsWithSegments("/Login")) ? null : InteractiveServer;
}