@* @inherits AddCandidateToGroupComponent

<div class="row">
    <EditForm Model="@groupe">
        <div class="row">
            <div class="col-md-3">
                <RadzenLabel Text="@L["Group"]"></RadzenLabel>
            </div>
            <div class="col-md-9">
                <InputText @bind-Value="@groupe.Name" class="disabled" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <RadzenLabel Text="@L["Candidates"]"></RadzenLabel>
            </div>
            <div class="col-md-9">
                
            </div>
        </div>
        <div class="row ">

        </div>
    </EditForm>
</div>

 *@
  @using Langua.UIComponents;
 @page "/example"

<DropDown Items="AllItems" SelectedItems="SelectedItems" />
 
@code{
    private List<MyItem> AllItems = new List<MyItem>
    {
        new MyItem { Id = 1, Name = "Item 1" },
        new MyItem { Id = 2, Name = "Item 2" },
        // Add more items as needed
    };

    private List<MyItem> SelectedItems = new List<MyItem>();

    public class MyItem
    {
        public int Id { get; set; }
        public string Name { get; set; }
    }
}
