
@typeparam TItem

<div class="dropdown-container">
    @foreach (var item in Items)
    {
        <div class="row">
            <InputCheckbox @bind:event="@IsSelected(item)"></InputCheckbox>
            <label for=""></label>
        </div>
    }
</div>

@code {
    [Parameter] public IEnumerable<TItem> Items { get; set; }
    [Parameter] public IEnumerable<TItem> SelectedItems { get; set; }

    public bool IsSelected(TItem item)
    {
        return SelectedItems.Contains(item) ? true : false;
    }

    private void OnItemSelected(TItem item, bool isSelected)
    {
        if (isSelected)
        {
            SelectedItems = SelectedItems.Append(item);
        }
        else
        {
            SelectedItems = SelectedItems.Where(i => !i.Equals(item));
        }
    }
    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }
}
