@page "/"
@page "/dashboard"
@inherits DashboardComponent
@using Langua.Models
@using Langua.Repositories.Services
@using Microsoft.AspNetCore.Authorization
@layout WebUI.Pages.Layout.SideMainLayout


 @attribute [Authorize(Roles = "ADMIN")] 
<PageTitle>LanguaLink| @L["Admin Dashboard"]</PageTitle>
<HeadContent>
    <meta name="description" content="Rich dashboard created with the Radzen Blazor Components library.">
</HeadContent>

<div class="py-4">
    <RadzenStack Gap="1rem" Style="position: relative">
    <RadzenRow> 
        <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
            <RadzenCard Style="position: relative; height :100px">
                <RadzenText TextStyle="TextStyle.H6">Nb Teachers</RadzenText>
                <RadzenText TextStyle="TextStyle.H2" Class="rz-color-success" Style="position: absolute; right: 1.5rem; top: 1rem;">@NbTeacher</RadzenText>
               @*
                   <RadzenChart Style="width: 100%; height: 120px; margin-bottom    : -30px;">
                        <RadzenColumnSeries Data=@openIssuesByDate ValueProperty="Count" CategoryProperty="Week" Title="Issues" Fill="var(--rz-success)" />
                        <RadzenValueAxis Visible="false" />
                        <RadzenCategoryAxis Visible="false" />
                        <RadzenColumnOptions Margin="10" />
                        <RadzenLegend Visible="false" />
                    </RadzenChart> 
                *@
            </RadzenCard>
        </RadzenColumn>
        <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
            <RadzenCard Style="position: relative; height :100px">
                <RadzenText TextStyle="TextStyle.H6">Nb Candidates</RadzenText>
                <RadzenText TextStyle="TextStyle.H2" Class="rz-color-danger" Style="position: absolute; right: 1.5rem; top: 1rem;">@NbCandidat</RadzenText>
                
            </RadzenCard>
        </RadzenColumn>
        <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
            <RadzenCard Style="position: relative; height :100px">
                <RadzenText TextStyle="TextStyle.H6">NB Groups</RadzenText>
                    <RadzenText TextStyle="TextStyle.H2" Style="position: absolute; right: 1.5rem; top: 1rem;">@NbGroups</RadzenText>
                @*
                <RadzenChart Style="width: 100%; height: 120px; margin-bottom: -30px;">
                <RadzenLineSeries Data=@openIssuesByDate ValueProperty="Count" CategoryProperty="Week" Title="Open Issues" Smooth="true" Stroke="var(--rz-success)" />
                <RadzenLineSeries Data=@closedIssuesByDate ValueProperty="Count" CategoryProperty="Week" Title="Closed Issues" Smooth="true" Stroke="var(--rz-danger)" />
                <RadzenValueAxis Visible="false" />
                <RadzenCategoryAxis Visible="false" />
                <RadzenLegend Visible="false" />
                </RadzenChart>
                *@
            </RadzenCard>
            </RadzenColumn>


        <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
            <RadzenCard Style="position: relative; height :100px">
                <RadzenText TextStyle="TextStyle.H6">All Issues</RadzenText>
                <RadzenText TextStyle="TextStyle.H2" Style="position: absolute; right: 1.5rem; top: 1rem;">56</RadzenText>
            </RadzenCard>
        </RadzenColumn>
    </RadzenRow>

</RadzenStack>
</div>
